extends ../layouts/application.pug

block header
  = t('views.tasks.editHeader')

block content
  +formFor()(action=route('updateTask', { id: task.id }) method='post')
    +taskForm(task, statuses, users, labels, { submitKey: 'views.tasks.editSubmit', selectedLabels: task.labels })
