extends ../layouts/application.pug

block header
  = t('views.tasks.new.signUp')

block content
  +formFor()(action=route('tasks') method='post')
    +taskForm(task, statuses, users, labels, { submitKey: 'views.tasks.new.submit' })
